{% extends "base_generic.html" %}
{% block content %}
    <h1>Products Home</h1>
    <p>The system has the following record counts:</p>
    <ul>
        <li>
            <strong>products:</strong> {{ num_products }}
        </li>
    </ul>
    <hr />
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
    <hr />
    {% load auth_extras %}
    {% if user.is_authenticated %}
        {% if request.user|has_group:"admin" %}
            <h2>Unread notifications</h2>
            {% for notification in notifications_unread %}
                <strong>ID:</strong> {{ notification.id }}
                <br>
                <strong>Level:</strong> {{ notification.level }}
                <br>
                <strong>Description:</strong> {{ notification.description }}
                <br>
                <strong>Date:</strong> {{ notification.timestamp }}
                <br>
                <br>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock content %}
